*{
    margin : 0;
    padding :0;
}

body{
    background-color: #e68d0707;
}
/* ------ Header --------*/

header, footer{
    display: flex;
    align-items: center;
    background-color: #F3E9F1;
}

.logo, .basket{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid red;*/
}

.logoImg{
    height: 4rem;
    width: auto;
}

/*.headerTitle{
    border: 1px solid green;
}
*/
.orinoco{
    height: 4rem;
}

.pageLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border : 1px solid #eec3e5;
    padding: 0.3rem;
    box-shadow: 0.2rem 0.2rem 0.5rem #ebbce1;
    margin-bottom: 0.3rem;
}

.pageLink:hover{
    box-shadow: 0.2rem 0.2rem 0.6rem #ee86d7;
}

.icon{
    height: 2rem;
}

.basketImage{
    height : 4rem;
    width : 4rem;
}

a{
    text-decoration: none;
    color : black;
}

a:hover{
    color: initial;
}

/*------- Main --------- */

.container{
    text-align : center;
}

/* ------ Cards --------- */

.card{
    height: auto;
    /*border: 1px solid #8F5BFE;*/
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.card:hover{
    box-shadow: 0.1em 0.5em 1em #8f5bfe6e;
}

.cardImage{
    height: 16rem;
    width: 100%;
    object-fit: cover;
}

.price{
    text-align: right;
}


/*------ Footer -------*/

footer{
    padding-top: 1rem;
}

.credit{
    font-size: 0.7rem;
}

ul{
    list-style: none;
}

.social{
    display: flex;
    justify-content: space-evenly;
    padding-left: 0.5rem;
    padding-right: 3rem;
    font-size: 1.6rem;
}

.social i{
    color:#7031fa;
}

/*--- Product ----*/

#product{
    display: flex;
    justify-content: center;
}

#product .cardImage{
    height: 23rem;
    width: auto;
    object-fit: cover;
}

#product button{
    width: 100%;
}

/*-- Construction --*/

.construction{
    height: 100%;
    font-size: 3.5rem;
    padding: 6rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-shadow: 0.2rem 0.2rem 0.8rem #7131fa73;
}

/*.constructionFooter, .productFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}*/


/*--- Panier --*/

.trash{
    height: 1.6rem;
    width: 1.5rem;
}

.contact{
    display: flex;
    justify-content: center;
}

.fullBasket{
    display: flex;
    align-items: center;
}