<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/style.css">
    <script src="https://kit.fontawesome.com/45e38e596f.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/jpg" href="../favicon.jpg"/>
    <title>Orinoco Détail produit</title>
</head>
<body>
    <header id="header" class="row text-center border pt-3 pb-2">
        <a href="../index.html" class="col-2">
            <div class="logo">
                <img src="../img/logo.webp" alt="Logo" class="logoImg">
                Retour à l'accueil
            </div>
        </a>
        <div class="headerTitle col-8">
            <div class=enterpriseName>
                <img src="../img/orinoco.webp" alt="Orinoco" class="orinoco">
            </div>
            <p class="enterpriseDescription">
                Orinoco, une entreprise de nouvelle génération
            </p>
            
        </div>
        
    </header>
    <main class="container" id="order">

        
    </main>
    <footer class="row border">
        <div class="col-4">
            <ul>
                <li><a href="#">Qui sommes-nous ?</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Nos partenaires</a></li>
            </ul>
            
        </div>
        <div class="col-5 text-center social">
            <a href="#" class="" title="Facebook">
                <i class="fab fa-facebook-f" aria-label="Facebook"></i>
            </a>
            <a href="#" class="" title="Twitter">
                <i class="fab fa-twitter" aria-label=""></i>
            </a>
            <a href="#" class="" title="Pinterest">
                <i class="fab fa-pinterest-p" aria-label=""></i>
            </a>
            <a href="#" class="" title="Instagram">
                <i class="fab fa-instagram" aria-label=""></i>
            </a>
        </div>

        

    </footer>
    <script src="../js/product.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>